body {
  font-family: "Verdana", sans-serif;
}

img {
  width: 250px;
}

a {
  text-decoration: none;
}

.header_link {
  color: gray;
  margin-right: 30px;
}

#about {
  padding-bottom: 20px;
}

#email {
  color: white;
  position: fixed;
  right: 30px;
  padding-bottom: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(75, 156, 210);
  width: 100%;
  padding-top: 20px;
  color: white;
}

.copyright {
  text-align: center;
  font-size: 13px;
  padding-top: 0px;
  margin-top: 0px;
}

.fa {
  padding-left: 30px;
  padding-bottom: 0px;
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.fa.fa-github {
  font-size: 30px;
}

.fa.fa-linkedin {
  font-size: 30px;
}