:root {
  --mainblue: rgb(75, 156, 210);
  --secondary: rgb(62, 153, 131);
}

body {
  font-family: "verdana", sans-serif;
  margin: 0;
}

#page_container {
  position: relative;
  min-height: 100vh;
  margin: 10px;
}

#content_wrap {
  margin: 0px;
  padding: 0px;
  padding-bottom: 40px;
}

img {
  width: 200px;
  border-radius: 15px;
}

img.zoom {
  width: 400px;
}

#portrait {
  margin-top: 20px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

img.logo {
  width: 70px;
  margin-right: 10px;
  display: inline-block;
}

img.main-img {
  width: 55%;
  height: 55%;
}

img.tall-img {
  max-height: 500px;
  width: auto;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}

img.content-img {
  width: 43%;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}

#header {
  width: 100%;
}

.zoom:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
}

.project-desc-container {
  margin-top: 10px;
  max-width: 90%;
  bottom: 0;
  text-align: justify;
  display: inline-block;
}

.project-container {
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  overflow: hidden;
  margin-right: 30px;
  margin-left: 30px;
}

.group-title-inner {
  font-size: 25px;
  text-align: center;
  align-self: center;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  color: white;
}

.group-title {
  font-size: 25px;
  text-align: center;
  align-self: center;
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  color: white;
  background-color: var(--mainblue);
  border-radius: 15px;
}

.header_link {
  color: gray;
  margin-right: 30px;
}

.contributions {
  background-color: var(--mainblue);
  padding: 20px;
  color: white;
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
}

.game-desc {
  margin: 20px;
  margin-top: 0px;
}

.game-content {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 40px;
}

#about-container {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 40px;
  background-color: var(--mainblue);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#about-content {
  display: flex;
  flex-direction: row;
  color: white;
  padding-bottom: 10px;
}

#email {
  color: white;
  position: fixed;
  right: 30px;
  padding-bottom: 0px;
}

footer {
  position: absolute;
  display: block;
  box-sizing: border-box;
  float: left;
  margin-top: 80px;
  background-color: var(--mainblue);
  width: 100%;
  padding-top: 20px;
  color: white;
}

.copyright {
  text-align: center;
  font-size: 13px;
  padding-top: 0px;
  margin-top: 0px;
}

.fa {
  padding-left: 30px;
  padding-bottom: 0px;
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.fa.fa-github {
  font-size: 30px;
}

.fa.fa-linkedin {
  font-size: 30px;
}

.tag {
  height: 30px;
  width: 75px;
  font-size: 11px;
  background-color: var(--mainblue);
  border-radius: 25px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  display: inline-block;
  color: white;
}